[package]
name = "spdk-io-sys"
version = "0.1.0"
edition.workspace = true
authors.workspace = true
documentation.workspace = true
repository.workspace = true
license.workspace = true
build = "build.rs"
links = "spdk"

[dependencies]

[build-dependencies]
bindgen = "0.72"
pkg-config = "0.3"
